{% load static %}

    {% include 'divider.html' %}

    <div class="container" id="carrusel_iphone_desk">

        <div class="jumbotron">
            <h4> <a href="index_accesorios.html">iPhone</a> </h4>
            <p>Todos los iPhone disponibles en un solo lugar!</p>
        </div>

        <div class="responsive">


            {% if smartphones %}
            
            
            {% for smartphone in smartphones %}
            <div class="col-md-3">
                <div class="card mt-3">
                    
                    <div class="pro-1 align-items-center p-2 text-center">
                    <img src= ../../static/images/{{ smartphone.image }} style="width: 200px; text-align: center;" >
                    


                    <h1>{{ smartphone.nombre }}</h1>
                    <h1 class="text1" >${{ smartphone.precio }}</h1>

                    
                    </div>
                    <a class="btn btn-primary p-3 mt-3" href="#">Comprar</a>
                </div>
            </div>

            {% endfor %}
            {% else %}
            
                <h1>Lo sentimos no hay ningun smartphone registrado :(</h1>
            
            {% endif %} 

        </div>
    </div>


