{% load static %}

<div class="container" id="carrusel_iphone_desk">

    <div class="jumbotron">
        <h4> <a href="index_accesorios.html">iPhone</a> </h4>
        <p>Todos los iPhone disponibles en un solo lugar!</p>
    </div>

    <div class="responsive">


        {% if smartphones %}
        
        
        <div class="card">
            {% for smartphone in smartphones %}
            <img src= ../../static/images/{{ smartphone.image }} style="width: 100px;">
            <div class="card-body">
                <h5 class="card-title">{{ smartphone.nombre }}</h5>
                <p class="card-text">{{ smartphone.precio }}</p>
                <a class="btn btn-primary" href="#">Comprar</a>

            </div>
            {% endfor %}
        </div>

        {% else %}
        
            <h1>Lo sentimos no hay ningun smartphone registrado :(</h1>
        
        {% endif %} 

      </div>
</div>
