{% load static %}

<header>

    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">SmartPhone Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="nav nav-pills ms-auto">
                    <li class="nav-item">

                        <a href="{% url 'home' %}" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'list_cliente_smartphone' %}" class="nav-link text-white">iPhones</a>
                    </li>
                    <!-- login / register -->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link text-white">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'registrar' %}" class="nav-link text-white">Registrarse</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'list_smartphones' %}" class="nav-link text-danger fw-bolder">Listar Smartphones</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'list_user' %}" class="nav-link text-danger fw-bolder">Listar Usuarios</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link text-white">Cerrar Sesion</a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
</header>

{% include 'scripts.html' %}
