{% load static %}
<!-- contectar a app.js -->


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfl43l7Pah56vOhRDqGUnvI-ReoqR7xKk&callback=initMap&libraries=&v=weekly"
async>
</script>
<script type="text/javascript" src="{% static 'js/app.js'%}"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js'%}"></script>

