{% extends 'base.html' %}

{% block title %} Registrar Usuario {% endblock %}






{% block content %}
    
    <div class="container jumbotron">
        <h4> <a href="index_accesorios.html">Registrar Usuario</a> </h4>
        <p>Ingrese los datos para regitrarse</p>
    </div>


    <div class="container">
        
    <h1>Register</h1>
    <div class="content container">
        <form method="POST" class="form-group row">
            {% csrf_token %} {{ form.as_p }}

            <button class="btn btn-primary" type="submit">Guardar Usuario</button>
        </form>
    </div>
    </div>

{% endblock %}



