* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

html {
    overflow-x: hidden; 
}

.product-airpods {
	width: 90vw;
	height: 600px;
	display: flex;
}

.imagery {
	flex: 1 1 60%;
	width: 60%;
	padding: 50px 100px;
	background-color: #2484E4;
	transition: 0.4s;
}
.imagery img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: top;
	animation: fadein 1s ease-in-out forwards;
	animation-delay: 0.5s;
	opacity: 0;
}

.detail {
	flex: 1 1 40%;
	width: 40%;
	padding: 50px;
}

.detail h1 {
	color: #212121;
	font-size: 32px;
	font-weight: 900;
    text-align: center;
}
.detail h2 {
	color: #53565A;
	font-size: 22px;
	font-weight: 700px;
}
.detail h3 {
	color: #53565A;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 50px;
}

.btn_grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.btn_grid .btn_wrap {
	flex: 1 1 30%;
	width: 40%;
	padding: 5px;
}

button {
	display: block;
	width: 100%;
	padding: 15px;

	appearance: none;
	outline: none;
	background: none;
	cursor: pointer;
	border: 2px solid #EEE;

	color: #313131;
	font-size: 15px;
	font-weight: 700;

	transition: 0.4s;
}
button:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}




.colores_iphone .btn_wrap .black.selected {
	background-color: #212121;
	color: #FFF;
}

.colores_iphone .btn_wrap .blue.selected {
	background-color: #2484E4;
	color: #FFF;
}




h3 { padding-top: 10px;}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}



@media screen and (max-width: 800px){


    .product-airpods {
        width: 100%;
        height: 500px;
        display: block;
    }
    
    .imagery {
        flex: 1 1 40%;
        width: 100%;
        padding: 50px 100px;
        background-color: #2484E4;
        transition: 0.2s;
    }
    .imagery img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: top;
        animation: fadein 1s ease-in-out forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }
    
    .detail {
        flex: 1 1 70%;
        width: 100%;
        padding: 50px;
    }
    
    
    .detail h1 {
        color: #212121;
        font-size: 32px;
        font-weight: 900;
    }
    .detail h2 {
        color: #53565A;
        font-size: 22px;
        font-weight: 700px;
    }
    .detail h3 {
        color: #53565A;
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 50px;
    }

    .btn_grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }

    .btn_grid .btn_wrap {
        flex: 1 1 100%;
        width: 100%;
        padding: 5px;
    }

    footer { display: none;}
    
    h2 {display: none;}

	.btn-primary {
		text-align: center;
	}
    
}