* { padding: 0; 
    margin: 0;
    }
html {
    overflow-x: hidden; 
}
.div-carousel-caption { text-align: center;}

h5 { font-size: 50px;}

a { text-decoration: none; }
.text1 { font-size: 25px;}

body { background-color: #ecf0f1;  padding: 0; }

#contru { position: fixed; }

.b-example-divider { height: 5rem; }

#footer-img { text-align: center; width: 100%; height: 600;}

a.btn_vermas { width: 80%; text-align: center; }


@media screen and (max-width: 800px) {
    h5 { font-weight: bold; font-size: 25px;}
    .jumbotron {text-align: center;}
    .card-img-top { height: 200px; width: 200px;}
    #iphone_6 { display: none;}
    #iphone_7 { display: none;}
    #iphone_8 { display: none;}
    #iphone_xr { display: none;}
    #iphone_x { display: none;}
    #cargador { display: none;}
    #macsafe { display: none;}


}





@media screen and (max-width: 500px) {

    
    .card-img-top { height: 200px; width: 200px;}
    .desde {display: none;}
    #iphone_6 { display: none;}
    #iphone_7 { display: none;}
    #iphone_8 { display: none;}
    #iphone_xr { display: none;}
    #iphone_x { display: none;}
    .jumbotron { text-align: center;}
    #cargador { display: none;}
    #macsafe { display: none;}
    

    
}



@media screen and (min-width: 800px){

    #carrusel_movil { display: none;}


}


@media screen and (max-width: 800px){

    #carrusel_desk { display: none;}


}