


.nav-link {   color: white;   }
body { background-color: #ecf0f1;}
.carousel-control-next {   margin: 10%; height: 250px; }

.carousel-control-prev {   margin: 10%; height: 250px; }
.carousel-inner {   height: 100%;  }


#carouselExampleIndicators { height: 400px;}


@media screen and (max-width: 600px){
    .carousel-control-prev, .carousel-control-next { width: 50px; height: 250px;}
}

@media screen and (max-width: 600px) {
    #carouselExampleIndicators { height: 200px;}
}

.row {   padding-top: 100px; }
