{% extends 'base.html' %}
{% load static %}

{% block title %} Lista Smartphones {% endblock title %}


{% block content %}
<!-- carrusel iphone items desk -->
<div class="container" id="carrusel_iphone_desk">

    <div class="jumbotron">
        <h4> <a href="index_accesorios.html">iPhone</a> </h4>
        <p>Todos los iPhone disponibles en un solo lugar!</p>
    </div>

    <!-- <div class="responsive">


        {% if object_list %}

        <div class="card col-3" style="width: 18rem;">
            {% for smartphone in object_list %}
            <img src= ../../static/images/{{ smartphone.image }} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ smartphone.nombre }}</h5>
              <p class="card-text">{{ smartphone.precio }}</p>
              <a class="btn btn-primary" href="#">Comprar</a>

              
            </div>
            {% endfor %}
          </div>
          
        {% else %}
        
            <h1>Lo sentimos no hay ningun alumno registrado :(</h1>
        
        {% endif %} 

      </div> -->

    
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Imagen</td>
          <td>Nombre</td>
          <td>Precio CLP</td>
          <td>Color</td>
          <td>almacenamiento</td>

        </tr>
      </thead>
    </table>


</div>


{% endblock %}

{% block a %} footer list_smartphones {% endblock a %}
