{% extends 'base.html' %}
{% load static %}

{% block title %} Lista Smartphones {% endblock title %}


{% block content %}
<!-- carrusel iphone items desk -->
<div class="container" id="carrusel_iphone_desk">

    <div class="jumbotron">
        <h4> <a href="index_accesorios.html">iPhone</a> </h4>
        <p>Todos los iPhone disponibles en un solo lugar!</p>
    </div>

    <div>


      {% if object_list %}
            
            
      {% for smartphone in object_list %}

      <table class="table table-hover">

        <thead>
          <tr>
            <td>Foto</td>
            <td>Nombre</td>
            <td>Precio CLP</td>
            <td>Color</td>
            <td>Almacenamiento</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src= ../../static/images/{{ smartphone.image }} style="width: 200px; text-align: center;" ></td>
            <td>{{ smartphone.nombre }}</td>
            <td>$ {{ smartphone.precio }}</td>
            <td>{{ smartphone.color }}</td>
            <td>{{ smartphone.almacenamiento }}</td>
            <td><a class="btn btn-primary" href="{% url 'update_smartphone' smartphone.id %}">EDITAR</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete_smartphone' smartphone.id %}">ELIMINAR</a></td>
          </tr>
        </tbody>

      </table>

      {% endfor %}
      {% else %}
      
          <h1>Lo sentimos no hay ningun smartphone registrado :(</h1>
      
      {% endif %} 



</div>


{% endblock %}

{% block a %} footer list_smartphones {% endblock a %}
